<div class="col-md-5" style="padding-left: 0">
  <a ui-sref="gumgatagdefinition.insert" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Novo
  </a>
  <button type="button" class="btn btn-danger" ng-click="gumgatagdefinition.methods.delete(selectedValues)">
    <i class="glyphicon glyphicon-trash"></i>
    Remover
  </button>
</div>
<div class="col-md-7" style="padding-right: 0">
  <gumga-search fields="name,attributes"
                advanced="true"
                get-queries="gumgatagdefinition.methods.getQuery(page)"
                search-method="gumgatagdefinition.methods.search(field,param)"
                advanced-method="gumgatagdefinition.methods.advancedSearch(param)"
                translate-entity="gumgatagdefinition">
    <advanced-field name="id" type="string"></advanced-field>
    <advanced-field name="name" type="string"></advanced-field>
    <advanced-field name="attributes" type="string"></advanced-field>
  </gumga-search>
</div>

<div class="full-width-without-padding">
    <gumga-list sort="gumgatagdefinition.methods.sort(field, dir)"
            class="table-striped table-condensed"
            data="gumgatagdefinition.data"
            configuration="tableConfig">
    </gumga-list>
</div>

<pagination ng-model="page"
max-size="10"
boundary-links="true"
previous-text="‹"
next-Text="›"
first-text="«"
last-text="»"
items-per-page="gumgatagdefinition.pageSize"
total-items="gumgatagdefinition.count"
ng-change="gumgatagdefinition.methods.get(page)
">
</pagination>